.full_page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.full_page_loader {
  margin-bottom: 10px;
  font-size: 26px;
}
.loader {
  font-size: 22px;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
